body {

    background: black;
    color: aliceblue;
    font-size: 12px;
    font-style: italic;
}

h1 {
    bottom: 2px;
    justify-content: center;
}
.imagem1 {
    text-align: justify;
}